<div class="wrapper">
    <div class="row" style="height: 146px;">
        <div class="col-md-3 p-3">
            <a href="/#!/meetings">
                <div class="module_card module_card_meeting">
                    <span class="module_card_icon"><i class="fa fa-users"></i> </span>
                    <span class="module_card_heading">Собрания жильцов</span>
                    <span>Отслеживайте собрания жильцов домов Вашего УК</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 p-3">
            <a href="/#!/letters">
            <div class="module_card module_card_claims">
                <span class="module_card_icon"><i class="fa fa-envelope"></i> </span>
                <span class="module_card_heading">Коллективные письма</span>
                <span>Просматривайте инициативы от жильцов домов Вашего УК</span>
            </div>
            </a>
        </div>
        <div class="col-md-3 p-3">
            <a href="/#!/requests">
                <div class="module_card module_card_services">
                    <span class="module_card_icon"><i class="fa fa-wrench"></i> </span>
                    <span class="module_card_heading">Список заявок</span>
                    <span>Список заявок в Вашу управляющую компанию
на проведение различного рода работ</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 p-3">
            <div class="module_card module_card_messages">
                <span class="module_card_icon"><i class="fa fa-comment"></i> </span>
                <span class="module_card_heading">Сообщения</span>
                <span>Будьте всегда на связи с жильцами Вашего
дома
</span>
            </div>
        </div>

        <div class="d-md-none">

            <div class="col-md-3 p-3">
                <div class="module_card module_card_rating">
                    <span class="module_card_icon"><i class="fa fa-certificate"></i> </span>
                    <span class="module_card_heading">Рейтинг УК</span>
                    <span>Узнайте как работают управляющие компании
Нашего города
</span>
                </div>
            </div>
            <div class="col-md-3 p-3">
                <div class="module_card module_card_norms">
                    <span class="module_card_icon"><i class="fa fa-files-o"></i> </span>
                    <span class="module_card_heading">Нормативные документы</span>
                    <span>Узнайте в подробностях юридические аспекты ЖКХ</span>
                </div>
            </div>
        </div>
    </div>




    <div class="d-none d-md-block ">

        <div class="row " style="height: 146px; margin-top:70px;">



            <div class="col-md-3 p-3">
                <div class="module_card module_card_norms">
                    <span class="module_card_icon"><i class="fa fa-files-o"></i> </span>
                    <span class="module_card_heading">Нормативные документы</span>
                    <span>Узнайте в подробностях юридические аспекты ЖКХ</span>
                </div>
            </div>
        </div>
    </div>

</div>