<div class="wrapper">
    <div class="row" style="height: 146px;">
        <div class="col-md-3 p-3">
            <a href="/#!/meetings">
                <div class="module_card module_card_meeting">
                    <span class="module_card_icon"><i class="fa fa-users"></i> </span>
                    <span class="module_card_heading">Собрания жильцов</span>
                    <span>Обсудите самые важные вопросы вместе с жильцами Вашего дома</span>
                </div>
            </a>
        </div>
        <div class="col-md-3 p-3">
            <a href="/#!/payments">
            <div class="module_card module_card_jkh">
                <span class="module_card_icon"><i class="fa fa-money"></i> </span>
                <span class="module_card_heading">Платежи за ЖКХ</span>
                <span>Оплачивайте коммунальные услуги
Не выходя из дома
</span>
            </div>
            </a>
        </div>
        <div class="col-md-3 p-3">
            <a href="/#!/organizations">
            <div class="module_card module_card_org">
                <span class="module_card_icon"><i class="fa fa-home"></i> </span>
                <span class="module_card_heading">Управляющая компания</span>
                <span>Следите за новостями от Вашей управляющей
компании и узнавайте их первыми
</span>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <a href="/#!/letters">
            <div class="module_card module_card_claims">
                <span class="module_card_icon"><i class="fa fa-envelope"></i> </span>
                <span class="module_card_heading">Коллективные письма</span>
                <span>Направляйте инициативы от вашего дома
напрямую в Вашу управляющую компанию</span>
            </div>
            </a>
        </div>

        <div class="d-md-none">
            <a href="/#!/requests">
            <div class="col-md-3 p-3">

                <div class="module_card module_card_services">
                    <span class="module_card_icon"><i class="fa fa-wrench"></i> </span>
                    <span class="module_card_heading">Услуги</span>
                    <span>Оставьте заявку в Вашу управляющую компанию
на проведение различного рода работ</span>
                </div>

            </div>
            </a>
            <div class="col-md-3 p-3">
                <div class="module_card module_card_messages">
                    <span class="module_card_icon"><i class="fa fa-comment"></i> </span>
                    <span class="module_card_heading">Сообщения</span>
                    <span>Будьте всегда на связи с жильцами Вашего
дома
</span>
                </div>
            </div>

            <div class="col-md-3 p-3">
                <a href="/#!/rating">
                <div class="module_card module_card_rating">
                    <span class="module_card_icon"><i class="fa fa-certificate"></i> </span>
                    <span class="module_card_heading">Рейтинг УК</span>
                    <span>Узнайте как работают управляющие компании
Нашего города
</span>
                </div>
                </a>
            </div>

            <div class="col-md-3 p-3">
                <div class="module_card module_card_norms">
                    <span class="module_card_icon"><i class="fa fa-files-o"></i> </span>
                    <span class="module_card_heading">Нормативные документы</span>
                    <span>Узнайте в подробностях юридические аспекты ЖКХ</span>
                </div>
            </div>
        </div>
    </div>




    <div class="d-none d-md-block ">

        <div class="row " style="height: 146px; margin-top:70px;">
            <div class="col-md-3 p-3">
                <a href="/#!/requests">
                <div class="module_card module_card_services">
                    <span class="module_card_icon"><i class="fa fa-wrench"></i> </span>
                    <span class="module_card_heading">Услуги</span>
                    <span>Оставьте заявку в Вашу управляющую компанию
на проведение различного рода работ</span>
                </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <div class="module_card module_card_messages">
                    <span class="module_card_icon"><i class="fa fa-comment"></i> </span>
                    <span class="module_card_heading">Сообщения</span>
                    <span>Будьте всегда на связи с жильцами Вашего
дома
</span>
                </div>
            </div>

            <div class="col-md-3 p-3">
                <a href="/#!/rating">
                <div class="module_card module_card_rating">
                    <span class="module_card_icon"><i class="fa fa-certificate"></i> </span>
                    <span class="module_card_heading">Рейтинг УК</span>
                    <span>Узнайте как работают управляющие компании
Нашего города
</span>
                </div>
                </a>
            </div>

            <div class="col-md-3 p-3">
                <div class="module_card module_card_norms">
                    <span class="module_card_icon"><i class="fa fa-files-o"></i> </span>
                    <span class="module_card_heading">Нормативные документы</span>
                    <span>Узнайте в подробностях юридические аспекты ЖКХ</span>
                </div>
            </div>
        </div>
    </div>

</div>