<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="uk_data">
                <div class="left-side">
                    <img src="../img/uk/uk1.jpg"/>

                    <div>
                        <h4>ГРАФИК РАБОТЫ</h4>

                        <p>ПН-ПТ: <span>08:00 - 19:00</span></p>
                        <p>СБ-ВС: <span>ВЫХОДНОЙ</span></p>
                    </div>
                </div>

                <div class="center">
                    <h4>{{ currentOrg.name }}</h4>
                    <h5>{{ currentOrg.phone }}</h5>

                    <div id="popover" data-toggle="popover" data-html="true" title="Рейтинг УК" data-content="Рейтинг: <b>{{currentOrg.respect_index | number:1}}</b>
                    <br>Позиция в рейтинге: <b>{{currentOrg.rating_position}}</b>"  >
                        <star-rating-component rating=" currentOrg.respect_index ">
                        </star-rating-component>
                    </div>

                    <script>
                        $(document).ready(function(){
                            $('[data-toggle="popover"]').popover({
                                placement : 'bottom',
                                trigger : 'hover'
                            });
                        });
                    </script>
                </div>

                <div class="right-side">
                    <a href="#!/requests"><button class="base_button primary_button">Оставить заявку</button></a>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-8 pr-4 news_list">
            <h4>НОВОСТНАЯ ЛЕНТА</h4>

            <div class="uk_news">
                <div class="row">
                    <div class="col-md-1">
                        <img src="../img/uk/uk1.jpg" class="news_avatar"/>
                    </div>
                    <div class="col-md-5 news_meta" >
                        <h4>{{ currentOrg.name }}</h4>
                        <h5>30 минут назад</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>Сообщаем об отключении воды в п. Приводино согласно схемы 11 июня 2020 года с 09:00 до устранения аварии по адресам:
                            проезд. Северный, 16, 17, 19
                            {{ currentOrg.name }}</p>
                    </div>
                </div>
            </div>
            <div class="uk_news">
                <div class="row">
                    <div class="col-md-1">
                        <img src="../img/uk/uk1.jpg" class="news_avatar"/>
                    </div>
                    <div class="col-md-5 news_meta">
                        <h4>{{ currentOrg.name }}</h4>
                        <h5>8 дней назад</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>05.06.2020 г. Восстановление кирпичной кладки вентиляционных труб второго подъезда по адресу: проезд. Северный, 16. <span class="text-primary">#управляющая_компания #ЖКХ #фотоотчет</span></p>
                        <p><a href="https://sun4-17.userapi.com/-evJD4qcmBO1aq_8MkRqXWRpGg1T2_W6eJxtng/o8mpRzV8E1U.jpg">
                                <img src="https://sun4-17.userapi.com/-evJD4qcmBO1aq_8MkRqXWRpGg1T2_W6eJxtng/o8mpRzV8E1U.jpg" style="width:150px; height:auto;"></a></p>
                    </div>
                </div>
            </div>
            <div class="uk_news">
                <div class="row">
                    <div class="col-md-1">
                        <img src="../img/uk/uk1.jpg" class="news_avatar"/>
                    </div>
                    <div class="col-md-5 news_meta">
                        <h4>{{ currentOrg.name }}</h4>
                        <h5>10 дней назад</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>03.06.2020 г. Замена автоматических выключателей проезд. Северный 3 в количестве 7-ми штук
                            <span class="text-primary">#управляющая_компания #ЖКХ #фотоотчет</span></p>

                        <p><a href="https://sun4-16.userapi.com/IOfgWis2wwOE906sIFsAFO6yeGSUcxkicK2mWg/DYaj0uhbugU.jpg">
                                <img src="https://sun4-16.userapi.com/IOfgWis2wwOE906sIFsAFO6yeGSUcxkicK2mWg/DYaj0uhbugU.jpg" style="width:150px; height:auto;"></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>КОНТАКТЫ</h4>
            <div class="uk_contacts">
                <ul>
                    <li><i class="fa fa-phone"></i> Номер телефона: <span>{{ currentOrg.phone }}</span></li>
                    <li><i class="fa fa-building"></i>  Адрес: <span>{{ currentOrg.address }}</span></li>
                    <li><i class="fa fa-envelope"></i> Email: <span>{{ currentOrg.email }}</span></li>
                    <li><i class="fa fa-internet-explorer"></i> Web-сайт: <span>{{ currentOrg.site }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>